/* all params */
:root {
    --maincol: rgba(40, 40, 40, 1);

    --panelHeight: 75vh;
    --panelWidth: auto;

    --blockHeight: 35vh;
    --blockWidth: 20vw;
    
}

* {
    transition: 400ms;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 1vh auto;
    font-size: 30px;
    border-radius: 10px;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
}

*::-webkit-scrollbar {
    background: rgb(20, 20, 20);
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 60);
    border-radius: 60px;
}

a {color: white;text-decoration: none;}

a:hover {text-decoration: underline;}

p {
    width: fit-content;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

/* BG */
.BG {
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

/*header only*/
header {
    height: fit-content;
    width: var(--panelWidth);

    margin: 0 2vw;

    padding: 1vh 0.5vw;
    border-radius: 10px;
    
    background-color: var(--maincol);

    box-shadow: 2px 2px 15px black;
    
    display: grid;
    column-gap: 2vw;
    grid-template-columns: 200px 30% 50%;
    grid-template-areas: 
        "pfp pName" 
        "pfp pInfo";
}

.pfp {
    height: 200px;
    margin: 0 auto;
    
    border-radius: 100%;

    grid-area: pfp;
}

.pName {
    padding: 0 1vw;
    width: 100%;

    grid-area: pName;
}

.pInfo {
    padding: 0;

    height: 100%;
    width: 100%;

    grid-area: pInfo;

    display: grid;
    grid-template-columns: 150px 60%;
    grid-template-areas: "badgeImg badgeName" "badgeImg badgeDesc";
}

/* header badge settings */
.badgeImg {grid-area: badgeImg;}
.badgeName {grid-area: badgeName;font-size: medium; height: fit-content; position: relative; margin: auto 0;}
.badgeDesc {grid-area: badgeDesc;font-size: medium; height: fit-content; position: relative; margin: auto 0;}


/* Block params */
.blockBG {
    position: absolute;
    margin: 0;
    z-index: 0;
    height: calc(var(--blockHeight) + 6vh);
    width: var(--blockWidth);
    overflow: hidden;
}

.bgVideo {
    position: relative;
    left: -50%;
    top: -50%;
    height: 200%;
    width: 200%;
}

.block {
    background-color: var(--maincol);
    margin: 0 2vw;

    display: inline-block;

    height: fit-content;
    width: var(--blockWidth);
}

.blockInfo {
    height: var(--blockHeight);
    position: relative;
    z-index: 1;
    padding: 2vh 2vw;
}

.blockDesc {
    width: 100%;
    text-align: center;
    background-color: rgba(25,25,25,1);
}

.config {
    transition: 350ms;

    margin: 0 auto;
    border: 0;

    height: 0vh;
    width: 100%;
    
    background-color: rgb(39, 39, 39);
}
.buttonCfg {
    color: white;
    background-color: rgba(25, 25, 25, 1);
    border: 0;
    width: 100%;
    padding: 1vh 0;
}
.buttonCfg:hover {
    cursor: pointer;
    background-color: rgba(129, 129, 129, 1);
}
.tip {
    color:rgba(255, 255, 255, 0.5);
    font-size: 1.7vh;
    font-family: monospace;
}

/* addaptive */
@media (max-width: 1400px) { /*Меньше чем 1400*/
    :root {
        --blockHeight: 40vh;
        --blockWidth: 30vw;
    }
    * {
        font-size: 35px;
    }

    .BG {
        height: auto;
    }

    main {
        grid-template-columns: repeat(3, 33%);
    }

    .badgeName {font-size: large;}
    .badgeDesc {grid-area: badgeDesc;font-size: medium; height: fit-content; position: relative; margin: auto 0;}
}